.footer-container {
  position: fixed;
  bottom: 0;
  background-color: #721111;
  height: 15%;
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  width: 100%;
  justify-content: center;
}

.f-1{
 
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  padding: 20px;
  

}

.f-name {

  color: rgb(20, 20, 20);
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Aldrich', sans-serif;
  line-height: 10px;
}

.caption {
  line-height: 15px;
  color: #5e5353;
  padding-left: 10px;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

.f-2{
  color: #5e5353;
  font-size: 14px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  line-height: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
  padding-left: 40px;
}

.f-3{

  color: #5e5353;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  
  
}

.line{
  width: 80%;
  height: 2px;
  background-color: #b6b0b0;
  margin-bottom: 10px;
}

.f-4{

    color: #5e5353;
  font-size: 14px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  line-height: 7px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 20px;
  padding-left: 40px;
  
}

.help-center {
  color: rgb(127, 122, 122);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Aldrich', sans-serif;
  line-height: 10px;
}

.f-5{

    display: grid;
    grid-template-columns: 22% 22% 22% 22% ;
    grid-template-rows: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
  
} 


