
.homemiddle-container{
    
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

.home-top-right{
    width: 15%;
   
}


.home-top{
    background-color:#721111 ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}