
.profile-post {
  
  width: 230px;
  height: 230px;
  border: solid 1px;
  border-color: black;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}