
.homemiddle-container{
    
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

.home-top-right{
   
    
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}


.home-top{
    background-color:#721111 ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

}

.custom-pill-2{

 width: 100%;
 height: 80px;
 align-items: center;
 justify-content: space-evenly;
 gap: 15px;

}

.suggestion-buttons-2{
    
    /* background-color: #706363; */
    width: 100%;
    height:100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.custom-pill-2 .nav-link.active {
  background-color: #721111;
  color: #fff;
}

.custom-pill-2 .nav-link {
  
  background-color: #c4c4c4;
  color: rgb(19, 17, 17);
  border-radius: 20px;
  
 
}